@charset "UTF-8";

/* header部分 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Lato', sans-serif;
}

.is-raleway {
  font-family: 'Raleway', sans-serif;
}

a {
  display: inline-block;
}

img {
  vertical-align: bottom;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.btn {
  font-size: 12px;
  background-color: #74cfae;
  color: #FFF;
  transition: .3s;
  text-decoration: none;
}

.btn:hover {
  color: #333;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: 100;
  padding: 15px 0;
}

.header__icon {
  display: block;
  float: left;
}

.contact-btn {
  float: right;
  padding: 14px 12px;
}

.main {
  padding-top: 70px;
}

/* theme部分 */

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
  text-align: center;
}

.theme__content__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme__content__sub_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* section部分 */

.section {
  background-color: #74cfae;
  padding-top: 50px;
  text-align: center;
}

.section__content-img {
  float: left;
  margin-left: 50px;
}

.section__content-text {
  text-align: center;
  color: #FFF;
  line-height: 25px;
  display: inline-block;
  width: 60%;
}

.section-title {
  font-size: 24px;
}

.section-text {
  font-size: 20px;
  margin-top: 35px;
}

/* article部分 */

.article {
  width: 100%;
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}

.article__content__title {
  text-align: center;
  font-size: 24px;
}

.article__content__img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.article__content__img li {
  margin-left: 100px;
  opacity: .7;
  transition: .3s;
  margin-top: 80px;
}

.article__content__img li:nth-child(3n+1) {
  margin-left: 0;
}

.article__content__img li:nth-child(-n+3) {
  margin-top: 0;
}

.article__content__img li:hover {
  opacity: 1;
}

.article__content__email {
  text-align: center;
  margin-top: 90px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__content__text {
  line-height: 25px;
  width: 42%;
}

.email-btn {
  padding: 14px 20px;
  margin-left: 90px;
}

/* OURSKILLS部分 */

.ourSkills {
  text-align: center;
  width: 100%;
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.ourSkills__content__title {
  color: #fff;
}

.ourSkills__content__img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.ourSkills__content__box {
  margin-left: 180px;
}

.ourSkills__content__box:first-child {
  margin-left: 0;
}

.ourSkills__content__img p{
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/* sns部分 */

.sns {
  width: 100%;
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sns__content__icon {
  width: 185px;
  padding: 30px 0px;
  transition: .3s;
  color: #74cfae;
  margin: 0;
  font-size: 50px;
}

.sns__content__icon:hover {
  background-color: #FFF;
}

/* footer部分 */

.footer {
  width: 100%;
  background-color: #74cfae;
  padding: 20px 0 25px 0;
  text-align: right;
}

.footer__text {
  color: #FFF;
}

.footer__text p {
  text-align: right;
}


/* スマフォ */
@media screen and (max-width:767px) {
  .contact-btn {
    display: none;
  }

  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .header {
    padding: 31px 0;
  }
    
  .header__icon {
    margin: 0 15px;
    font-size: 4em;
    float: left;
  }

  .hamburger {
    position: relative;
    cursor: pointer;
    right: 50px;
    height: 45px;
    width: 60px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 3px;
    background-color: #74cfae;
    border-radius: 8px;
    transition: ease 0.75s;
  }
    
  .icon span:nth-of-type(1) {
    top: 13px;
  }
  .icon span:nth-of-type(2) {
    top: 31px;
  }
  .icon span:nth-of-type(3) {
    bottom: 20px;
  }

  .main {
    padding-top: 126px;
  }

  .article__content__img {
    width: 30%;
  }

  .theme {
    padding: 160px 0 130px 0;
  }

  .theme__content__title {
    font-size: 80px;
  }
 
  .section {
    padding-bottom: 25px;
  }

  .section__content-img {
    float: none;
    margin-right: 50px;
  }

  .section__content-text {
    width: 100%;
    margin-top: 20px;
  }

  .article__content__img {
    margin: 40px auto 0;
    display: table;
  }

  .article__content__img li {
    margin: 0 auto;
  }

  .article__content__img li:nth-child(3n+1) {
    margin: 0 auto;
  }

  .article__content__img li:nth-child(4) {
    margin-top: 80px;
  }

  .article__content__email {
    display: block;
    margin-top: 80px;
  }

  .article__content__text {
    width: 100%;
  }

  .email-btn {
    margin: 40px 0 0;
  }

  .ourSkills__content__img {
    display: block;
  }

  .ourSkills__content__box {
    margin: 88px 0 0 0;
  }

  .ourSkills__content__box:first-child {
    margin-top: 0;
  }

  .sns {
    padding: 50px 0px;
  }

  .sns__content__icon {
    padding: 30px 79px;
    margin: 0 15px;
  }
}

/* タブレット */

@media screen and (min-width:768px) and (max-width:1199px) {
  
  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    display: inline-block;
    justify-content: space-around;
    box-sizing: border-box;
  }

  .section {
    padding-bottom: 25px;
  }

  .section__content-img {
    float: none;
    margin: 0 auto;
  }

  .section__content-text {
    width: 100%;
    margin-top: 20px;
  }

  .article__content__img {
    margin: 40px auto 0;
    display: table;
  }

  .article__content__img li {
    margin: 0 auto;
  }

  .article__content__img li:nth-child(3n+1) {
    margin: 0 auto;
  }

  .article__content__img li:nth-child(4) {
    margin-top: 80px;
  }

  .article__content__email {
    display: block;
    margin-top: 80px;
  }

  .article__content__text {
    width: 100%;
    margin: 0 auto;
  }

  .email-btn {
    margin: 40px 0 0;
  }

  .ourSkills__content__img {
    display: block;
  }

  .ourSkills__content__box {
    margin: 88px 0 0;
  }

  .ourSkills__content__box:first-child {
    margin-top: 0;
  }

}