

/* header部分 */

body {
  font-family: 'Lato', sans-serif;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: #FFF;
  z-index: 1;
  padding: 15px 0;
}

.fa-bolt {
  display: block;
  float: left;
}

.contact-btn {
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #FFF;
  transition: 0.3s;
  text-decoration: none;
}

.contact-btn:hover {
  color: #333;
}

.main {
  padding-top: 70px;
}

/* theme部分 */

.theme {
  width: 100%;
  background-color: #f2f2f2;
  padding: 250px 0;
}

.theme__content__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: 'Raleway', sans-serif;
}

.theme__content__sub_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* section部分 */

.section {
  background-color: #74cfae;
  width: 100%;
  height: 180px;
  padding: 50px 0;
}

.section__content-img {
  width: 150px;
  height: 230px;
  float: left;
  margin-left: 50px;
}

.section__content-text {
  text-align: center;
  color: #FFF;
  line-height: 25px;
  display: inline-block;
  width: 700px;
}

.section-title {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.section-text {
  font-size: 20px;
  margin-top: 35px;
  word-break: break-all;
}

/* article部分 */

.article {
  width: 100%;
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}

.article__content__title {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.article__content__img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.article__content__img li {
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 80px;
}

.article__content__img li:first-child {
  margin-left: 0;
}

.article__content__img li:nth-child(4) {
  margin-left: 0;
}

.article__content__img li:nth-child(-n+3) {
  margin-top: 0;
}

.article__content__img li:hover {
  opacity: 1;
}

.article__content__email {
  text-align: center;
  margin: 0 auto;
  /* width: 62%; */
  margin-top: 90px;
}

.article__content__text {
  line-height: 25px;
  float: left;
  width: 50%;
  margin-right: 90px;
  margin-left: 170px;
}

.email-btn {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #FFF;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-right: 197px;
}

.email-btn:hover {
  color: #333;
}

/* OURSKILLS部分 */

.ourSkills {
  width: 100%;
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.ourSkills__content__title {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
}

.ourSkills__content__img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.ourSkills__content__box {
  margin-left: 180px;
}

.ourSkills__content__box:first-child {
  margin-left: 0;
}


.ourSkills__content__img p{
  color: #FFF;
  font-size: 16px;
  margin-top: 10px;
}

/* sns部分 */

.sns {
  width: 100%;
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa-fw {
  width: 185px;
  padding: 30px 0px;
  transition: 0.3s;
  color: #74cfae;
  cursor: pointer;
  margin: 0;
  font-size: 50px;
}

.fa-fw:hover {
  background-color: #FFF;
}

/* footer部分 */

.footer {
  width: 100%;
  background-color: #74cfae;
  padding: 20px 0 25px 0;
  text-align: right;
}

.footer__text {
  color: #FFF;
  font-family: 'Lato', sans-serif;
}

.footer__text p {
  text-align: right;
}


/* スマフォ */
@media screen and (max-width:767px) {
  .contact-btn {
    display: none;
  }

  .inner {
    width: 97%;
    margin: 0 auto;
  }
    
  .fa-bolt {
    margin: -20px 0 0 30px;
    font-size: 4em;
    float: left;
  }

  .hamburger {
    position: relative;
    cursor: pointer;
    margin: 30px 0 30px auto;
    right: 50px;
    height: 45px;
    width: 60px;
    border: 1px solid #74cfae;
    border-radius: 4px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 3px;
    background-color: #74cfae;
    border-radius: 8px;
    transition: ease 0.75s;
  }
    
  .icon span:nth-of-type(1) {
    top: 13px;
  }
  .icon span:nth-of-type(2) {
    top: 31px;
  }
  .icon span:nth-of-type(3) {
    bottom: 20px;
  }

  .article__content__img {
    width: 30%;
  }

  .theme {
    text-align: center;
  }

  .theme__content__title {
    font-size: 80px;
  }

  .theme__content__sub_title {
    font-size: 30px;
    padding-top: 20px;
    margin-bottom:-120px;
  }
 
  .section {
    background-color: #74cfae;
    width: 100%;
    height: 100%;
  }

  .section__content-img {
    padding: 50px 0 0 0;
    width: 150px;
    height: 200px;
    float: none;
  }

  .section__content-text {
    /* float: none; */
    width: 45%;
    padding: 20px 0;
    margin: 0 auto;
  }

  .article__content__img li {
    margin: 0 auto;
  }

  .article__content__img li img {
    margin: 0 auto;
  }

  .article__content__img li:nth-child(3) {
    padding-bottom: 80px;
  }

  .article__content__email {
    padding: 80px 0 70px 0;
  }

  .article__content__text {
    float: none;
    width: 100%;
  }

  .email-btn {
    font-size: 12px;
    margin: 0;
    background-color: #74cfae;
    color: #FFF;
    transition: 0.3s;
    text-decoration: none;
  }

  .ourSkills__content__title {
    color: #FFF;
    padding: 70px 0 50px 0;
  }

  .ourSkills__content__img {
    margin: 0 auto;
    padding-bottom: 100px;
    display: block;
  }

  .ourSkills__content__img img{
    padding: 0;
  }

  .ourSkills__content__img p {
    padding: 0;
    padding-top: 20pxs;
  }

  .ourSkills__content__box {
    padding-bottom: 88px;
  }

  .sns {
    width: 100%;
    background-color: #f2f2f2;
  }

  .sns__content {
    padding: 50px 0px;
    width: 100%;
  }

  .fa-fw {
    display: block;
    margin: auto;
    padding: 30px 0;
    transition: 0.3s;
  }

  .fa-fw:hover {
    background-color: #FFF;
  }

  .footer__text {
    padding: 20px 15px 25px 0;
    white-space: nowrap;
    text-align: right;
  }
}

/* タブレット */

@media screen and (min-width:768px) and (max-width:1199px) {

  .inner {
    width: 97%;
    margin: 0 auto;
  }

  .inner {
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100%;
    position: fixed;
    background-color: #FFF;
    line-height: 0;
    z-index: 1;
  }

  .header-inner {
    width: 100%;
    float: none;
    text-align: left;
  }

  .fa-bolt {
    padding: 0;
    margin: 15px 30px;
  }

  .contact-btn {
    float: right;
    margin-right: 30px;
  }

  .theme {
    text-align: center;
    padding: auto;
  }

  .theme__content__title {
    font-size: 80px;
  }

  .theme__content__sub_title {
    font-size: 30px;
    padding-top: 20px;
    margin-bottom:-80px;
  }

  .section {
    background-color: #74cfae;
    width: 100%;
    height: 100%;
    padding: 0 auto;
  }

  .section__content-img {
    width: 150px;
    height: 200px;
    float: none;
  }

  .section__content-text {
    width: 80%;
    padding: 35px 0 25px 0 ;
    margin: 0 auto;
  }

  .section-title {
    padding-top: 20px;
  }

  .article {
    margin: 0 auto;
    text-align: center;
  }

  .article__content__img {
    flex-direction: column;
  }

  .article__content__img li img {
    margin: 0 auto;
    display: block;
  }

  .article__content__img li:nth-child(3) {
    padding-bottom: 80px;
  }

  .article__content__email {
    padding: 80px 0 10px 0;
    width: 100%;
  }

  .article__content__text {
    float: none;
    width: 100%;
    margin-bottom: 40px;

  }

  .ourSkills__content__img {
    margin: 0 auto;
    display: block;
  }

  .ourSkills__content__box {
    margin-bottom: 88px;
  }

  .ourSkills__content__box:nth-child(4) {
    margin-bottom: auto;
  }

}